.content {
    margin: 3rem;
    max-width: 600px;
}

.header { 
    margin: 3rem;
    max-width: 800px;
}

.headshot {
    display: block;
    width: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.blurb {
    margin-bottom: 2rem;
}