.content {
    margin: 3rem;
    max-width: 600px;
}

.header { 
    margin: 3rem;
    max-width: 800px;
}

.headshot {
    display: block;
    width: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    margin: 3rem;
    max-width: 200px;
    justify-content: right;
}

img.sidebar {
    height: 50px;
    width: 50px;
    margin: 1rem;
}
